:root{
    --main-color: #EAE8E1;
    --main-font-color: #434343;
    --main-font-size: 30px;
}

*,*::before,*::after{
    box-sizing: border-box;
}

a, a:hover, a:focus, a:active{
    text-decoration: none;
    color: inherit;
    font-weight: 700;
}


body{
    font-family: 'Crimson Text', serif;
    background-color: var(--main-color);
    margin: 0;
    color: var(--main-font-color);
    line-height: 1.3;
    /* width: 100%; */
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* styled breaks */
.break{
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.styled-break-header{
    height: .5em;
    border-top: 3px solid var(--main-font-color) ;
    border-bottom: 1px solid var(--main-font-color);
}

.styled-break{
    height: 1px;
    background-color: var(--main-font-color);
    margin-top: 4%;
    margin-bottom: 4%;
}

.small-break{
    width: 30%;
    height: 1px;
    background-color: var(--main-font-color);
    margin-top: 4%;
    margin-bottom: 4%;
}
/* ==================================================================== */

/*Header section*/
.header{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    /* padding: 0 0 2% 0; */
    height: 100vh;
}

.header-padding{
    padding-right: 10%;
    padding-left: 10%;
}

#img-div{
    position: relative;
    height:100vh;
    width: 45vw;
}

#image{
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    min-height: 100vh;
    object-fit: cover;
}


#img-caption{
    position: absolute;
    bottom: .01rem;
    right: 1rem;
    color:whitesmoke;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.title-and-introduction{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2.5%;
    width:55vw;
    font-size: var(--main-font-size);
    height: auto;
}


#fangio-photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

#title{
    font-size: 2.5rem;
    font-weight: 700;
}


#tribute-info{
    text-align: left;
    font-size: 25px;
    font-weight: 400;
}
/* end of header section */

/* early years */
.early-years__title{
    text-align: center;
    font-size: 2em;
    font-weight: 700;
}

.early-years{
    margin-top: 5%;
    font-size: var(--main-font-size);
}

/* years */

.container{
    padding-left: 15%;
    padding-right: 15%;
}

.years{
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    /* padding-bottom: 2%; */
}

.years__title{
    text-align: center;
    font-size: 2.8em;
    font-weight: 700;
}

.years__description{
    font-size: var(--main-font-size);
}




/*Outro*/
.outro{
    margin-bottom: 5%;
    font-size: var(--main-font-size)
}

/*Footer*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    background-color: var(--main-font-color);
    /* color: var(--main-color); */
    color: whitesmoke;
    font-size: 1.2rem;
}



@media only screen and (max-width: 1024px){
    .container{
        padding-left: 10%;
        padding-right: 10%;
    }
    .header{
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        height: auto;
    }

    #img-div{
        width: 100vw;
        height: 40vh;
    }

    #image{
        width: 100vw;
        min-height: 100%;
    }

    .title-and-introduction{
        width: 100%;
    }

    .title-and-introduction{
        padding-top: 15%;
    }


    .fangio-introduction{
        font-size: 35px;
    }

    
}

@media only screen and (max-width: 768px){

    :root{
        --main-font-size: 25px;
    }

    .container{
        padding-left: 5%;
        padding-right: 5%;
    }
    .header-padding{
        padding-left: 5%;
        padding-right: 5%;
    }

    #img-caption{
        font-size: 10px;
    }
}